.wrapper, body{
    text-align: center;
    margin: 2px;
    background-color: rgb(209, 204, 177);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper{
    width: 95%;
    margin: auto;
}
.title{
    text-decoration: underline;
}
.search{
    margin: auto;
}
#search{
    width: 500px;
    height: 45px;
    border-radius: 10px;
    border: 3px solid grey;
}
.recipeBox{
    margin: 1px;
}
.myimg{
    width: 200px;
    height: 120px;

}
.box{
    display: inline-block;
    width: 200px;
    height: 150px;
    min-height: 10px;
    /* background-color: rgb(63, 71, 68); */
    border: 1px solid rgb(12, 12, 12);
    margin: 10px;
    padding: 5px;
}
.singleBox{
    display: inline-block;
    width: 300px;
    height: 350px;
    min-height: 80px;
    /* background-color: rgb(237, 243, 240); */
    border: 5px solid white;
    margin: 10px;
    padding: 5px;
    text-align: center;
    te
}
.singleImg{
    width: 300px;
    height: 330px;
    margin-top: 0px;
    padding: 0px;
}
