.Mycard{
  /* display: inline-block; */
  /* display: inline; */
  max-width: 300px;
  /* margin: 1px; */
  border:solid 2px black ;
  }
.App {
  text-align: center;
  background-color: rgb(214, 192, 192);
  /* height:100vh */
}



