.trColor{
    background-color: #f4511e;
}

.h2{
    transform: uppercase    ;
    color: #81818;
    margin-bottom: 30px;
}


.p{
    font: 400 15px lato, sans-sarif;
}



.fa-signal , .fa-globe , .fa-power-off{
color: red;
font-size: 200px !important;

}

 .fa-power-off , .fa-heart {
    color: red;
    font-size: 50px !important;
    
    }
    



.align{
  margin: auto;
  text-align: center;
}

